body {
    padding: 0;
    margin: 0;
}
nav {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav.scrolled {
    position: fixed;
    bottom:0px;

}
#tabs {
    padding: 0;
    margin: 10px ;
}

#tabs > li {
    list-style: none;
    border: 1px solid #333;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}
#tabs > li.active {
    cursor: auto;
    color: #cc0000;
}

#gallery {
    margin: 10px 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: center;
}
#gallery > li {
    list-style: none;
    width: 300px;
    border: 1px solid #333;
}
#gallery > li > div:first-child {
    width: 300px;
    height: 272px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery > li > div:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#gallery > li > div > img {
    object-fit: cover;
    width: 300px;
    height: 272px;
    cursor: pointer;
}
#gallery > li > div > i {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #333;
}

#gallery > li > div > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 260px;
}
#gallery > li.bookmarked {
    border-color: #cc0000;
}

#gallery > li.bookmarked > div > img {
    cursor: auto;
}
#gallery > li.bookmarked > div > p {
    color: #cc0000;

}

#gallery > li > div > p.bookmarked {
    color: #c00;
}